.move-enter-active,
.move-leave-active {
  transform: translateX(0);
  transition: all .3s linear;
}

.move-enter, 
.move-leave-to {
  transform: translateX(100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: .3s;
}

.fade-enter, 
.fade-leave-to {
  opacity: 0;
}